body {
  font-family: Georgia, serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 25px;
  background-color: goldenrod;
}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

img {
  width: 300px;
  
}